extends layout.pug
include mixins/music.pug

block content
  main
    div(class="player-container")
      div(id="player")
      div(id="player-button")
        div ⇤
        div(class="play-btn") ▶︎ 
        div ⇥
    ul(id="track-list")
  