doctype html
html(lang="ko")
  head
    title #{title} - DJ.Run
    link(rel="stylesheet", href="/static/css/styles.css")
  body
    header
      h1 DJ.Run - #{title}

    block content
    footer
      p Copyright &copy; 2023 김형우
    script(src="/static/js/main.js")