doctype html
html(lang="ko")
  head
    title #{title} - DJ.Run
    link(rel="stylesheet", href="/static/css/styles.css")
  body
    header
      h1 DJ.Run - #{title}
      nav
        ul
          li
            a(href="/") 홈
          if isLoggedIn
            li
              a(href="/account") #{loggedInUser.username}
            li 
              a(href="/track/upload") 트랙 등록하기
            li
              a(href="/logout") 로그아웃

          else
            li
              a(href="/signup") 가입하기
            li
              a(href="/login") 로그인하기
    main
      block content
    footer
      p Copyright &copy; 2023 김형우
    script(src="/static/js/main.js")