extends layout.pug

block content
  if errorMessage
    div=errorMessage
  form(method="POST")
    input(name="email" type="email" placeholder="이메일을 입력하세요." required )
    input(name="username" type="text" placeholder="사용자 이름을 입력하세요" required )
    input(name="profileName" type="text" placeholder="프로필 이름을 입력하세요" required )
    input(name="password" type="password" placeholder="비밀번호를 만드세요." required )
    input(name="confirmPassword" type="password" placeholder="비밀번호를 다시 입력하세요." required )
    input(type="submit", value="가입하기")
  div 계정이 있나요? 
    a(href="/login") 로그인하세요.
