extends layout.pug

block content
  if errorMessage
    spna=errorMessage
  form(method="POST")
    input(name="name" type="text" placeholder="트랙 제목을 입력하세요." minlength=1 maxlength=50 required )
    input(name="artists" type="text" placeholder="아티스트 이름을 입력하세요" minlength=1 maxlength=50 required )
    input(type="submit", value="트랙 등록하기")