extends layout.pug

block content
  if errorMessage
    spna=errorMessage
  form(method="POST" enctype="multipart/form-data")
    label(for="trackFile") Track
    input(type="file", id="trackFile", name="trackFile", accept=".mp3" required)
    
    label(for="trackImageFile") image
    input(type="file", id="trackImageFile", name="trackImageFile", accept=".png" required)

    input(name="name" type="text" placeholder="곡 제목을 입력하세요." minlength=1 maxlength=50 required )
    input(name="artists" type="text" placeholder="아티스트 이름을 입력하세요" minlength=1 maxlength=50 required )
    input(name="genres" type="text" placeholder="곡의 장르를 입력하세요" minlength=1 maxlength=50 required )
    input(type="submit", value="트랙 등록하기")